.main {
    overflow: hidden;
}

/* header */
#header {
    height: 56px;
    background-color: var(--white-color);
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 8px 16px;
}

.header__navber-list {}

.header__navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.header__navbar-item {
    letter-spacing: 4px;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 2rem;
    color: var(--black-color);
    line-height: 40px;
}

/* slider */
#slider {
    position: relative;
    padding-top: 50%;
    background: url("../img/hamburger.jpg") top center / cover no-repeat;
}

.slider__content {
    position: absolute;
    bottom: 22px;
    margin-left: 30px;
}

.slider__text {
    font-size: 4.2rem;
    font-weight: 400;
    color: var(--h-color);
}


/* container */
.container {
    padding: 64px 16px;
}

.container__img-item {
    max-width: 100%;
    padding: 12px 24px;
}

.container__content-heading2,
.container__content-heading {
    margin: 10px 0;
    font-weight: 300;
    font-size: 3.6rem;
}

.container__content-desc1 {
    margin-top: 50px;
    font-weight: 400;
    font-size: 2rem;
}

.container__content {
    padding: 12px 24px;
}

.container__item {
    padding: 64px 0 84px 0;
}

.container__content-text1,
.container__content-text2 {
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: justify;
}

.container__content-text3,
.container__content-text2 {
    color: var(--text-color);
}

.container__content-text3 {
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.container__list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container__content-desc2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
}

.container__content-heading2 {
    margin-bottom: 50px;
}

/* Contact */
.contact__content-heading {
    font-size: 3.6rem;
    margin: 90px 0 50px 0;
    font-weight: 300;
}

.contact__content-desc {
    font-size: 1.5rem;
    text-align: justify;
}

.contact__content-sub-heading {
    font-size: 1.8rem;
    color: #607d8b;
    font-weight: 600;
}

.contact__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
    padding: 16px 8px;
    width: 100%;
}

.contact__button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.contact__button {
    margin: 15px 0;
    padding: 8px 16px;
    border: none;
    font-size: 1.5rem;
}

/* footer */
#footer {
    margin-top: 20x;
}

.footer__content {
    color: var(--black-color);
    background-color: #f1f1f1;
    font-size: 1.5rem;
    text-align: center;
    padding: 42px 0;
    margin: 0;
}

.footer__link {
    color: var(--black-color);
}